<div class="card">
    <div class="poster">
        <img *ngIf="movie.poster !== 'N/A'" [src]="movie.poster" />
    </div>
    <div class="info">
        <h6>{{movie.title}}</h6>
        <p>{{movie.year}}</p>
        <p>IMDB: <label class="rating">{{movie.rating}}</label></p>
        <div class="bookmark">
            <nb-icon *ngIf="!movie.isBookmarked" icon="star-outline" status="warning" (click)="onBookmark(movie, true)"
                [options]="{ animation: { type: 'zoom' } }"></nb-icon>
            <nb-icon *ngIf="movie.isBookmarked" icon="star" status="warning" (click)="onBookmark(movie, false)"
                [options]="{ animation: { type: 'zoom' } }"></nb-icon>
        </div>
    </div>
</div>